/* You can add global styles to this file, and also import other style files */

:root {
  --background: #f3f3f3;
  --blue: #315cae;
  --red: #e25d5d;
  --green: #3cca39;
  --black: #000;
  --white: #fff;
  --gray-var-1: #606060;
  --gray-var-2: #a9b4b9;
  --gray-border: #c6c6c6;
  --gray-font: #7e7e7e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  background-color: var(--background);
  /* 10px */
  font-size: 62.5%;
  height: 100vh;
}

body {
  /* 16px */
  font-size: 1.6rem;
  height: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}