:host {
  display: flex;
}

aside,
.available-boards-container {
  padding: 28px 18px;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
}

aside .filter-block {
  border-bottom: 1px solid var(--gray-border);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

aside .filter-block b {
  display: block;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
}

aside .filter-block ul {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

aside .filter-block ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

aside .filter-block ul li input {
  width: 18px;
  height: 18px;
}

aside .filter-block ul li label {
  font-weight: 400;
  font-size: 1.7rem;
  color: var(--gray-font);
}

aside > button {
  border: none;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 12px 22px;
  align-self: center;
  text-align: center;
  transition: background 0.2s;
}

aside > button.apply-filters {
  background-color: var(--blue);
  margin-bottom: 8px;
}

aside > button.clean-filters {
  background-color: var(--red);
}

aside > button.apply-filters:hover {
  background-color: var(--blue-hover);
}

aside > button.clean-filters:hover {
  background-color: var(--red-hover);
}

.available-boards-container {
  flex: 6;
  position: relative;
}

.available-boards-container .breadcrumb {
  display: flex;
}

.available-boards-container .breadcrumb a {
  color: var(--blue);
}

.available-boards-container .breadcrumb a:not(:last-child)::after {
  content: "/";
  margin: 0 10px;
  color: var(--black);
  pointer-events: none;
}

.available-boards-container .legends {
  margin: 20px 0 0 20px;
}

.available-boards-container .legends p {
  position: relative;
}

.available-boards-container .legends p::before {
  position: absolute;
  left: -20px;
  top: 40%;
  transform: translate(0, -50%);
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  background-color: var(--gray-var-2);
}

.available-boards-container .legends p:nth-child(1)::before {
  background-color: var(--green);
}

.available-boards-container .container h1 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 20px;
}

.available-boards-container .container ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 16px;
}

.available-boards-container .container ol li {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s;
}

.available-boards-container .container ol li:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.available-boards-container .container ol li > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--gray-var-2);
  color: var(--white);
  padding: 28px 18px;
}

.available-boards-container .container ol li > div:first-child.available {
  background-color: var(--green);
}

.available-boards-container .container ol li > div:first-child span {
  font-size: 2rem;
  font-weight: 500;
}

.available-boards-container .container ol li > div:first-child b {
  font-size: 2.8rem;
  font-weight: 700;
}

.available-boards-container .container ol li > div:last-child {
  padding: 18px 12px;
  background-color: var(--white);
}

.available-boards-container .container ol li > div:last-child p b {
  font-weight: 500;
}

.available-boards-container .container ol li > div:last-child p span {
  font-weight: 400;
  color: var(--gray-font);
}

.available-boards-container .container .pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#empty-list-message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#empty-list-message > b {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--gray-font-var-3);
}
