.filter-block {
  border-bottom: 1px solid var(--gray-border);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.filter-block b {
  display: block;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.filter-block ul {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-block ul li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-block ul li input {
  width: 18px;
  height: 18px;
}

.filter-block ul li label {
  font-weight: 400;
  font-size: 1.7rem;
  color: var(--gray-font);
}
