<div class="customers-page-container">
  <app-breadcrumb [currentURI]="'Cliente'" />

  <ul class="menu">
    <li>
      <button [class.active]="activeMenu === 0" (click)="changeActiveMenu(0)">
        Hamburguers
      </button>
    </li>
    <li>
      <button [class.active]="activeMenu === 1" (click)="changeActiveMenu(1)">
        Acompanhamentos
      </button>
    </li>
    <li>
      <button [class.active]="activeMenu === 2" (click)="changeActiveMenu(2)">
        Entradas
      </button>
    </li>
    <li>
      <button [class.active]="activeMenu === 3" (click)="changeActiveMenu(3)">
        Bebidas
      </button>
    </li>
    <li>
      <button [class.active]="activeMenu === 4" (click)="changeActiveMenu(4)">
        Sobremesas
      </button>
    </li>
  </ul>

  <ul class="products">
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/cheeseburguer-grelhado-com-tomate-cebola-e-fritas-gerado-por-ia_188544-43039.jpg?w=1380&t=st=1703779340~exp=1703779940~hmac=5b2fdda443696a90014c0256232ee31c44fbebae870c03afa4a874291d1f108a"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
    <li>
      <img
        src="https://img.freepik.com/fotos-gratis/hamburguer-saboroso-isolado-no-fundo-branco-fastfood-de-hamburguer-fresco-com-carne-e-queijo_90220-1063.jpg?w=740&t=st=1703777757~exp=1703778357~hmac=314118652f2931b0faa352ee9546549cf3ebfecd5bb212547c83d3cc42866e3f"
        alt="hamburguer"
      />
      <div>
        <strong>Duas carnes</strong>
        <p>
          Hamburguer duplo de alcatra, tomate, alface, queijo mussarela, queijo
          cheddar
        </p>
      </div>
      <p>R$ 32,90</p>
    </li>
  </ul>
</div>

<aside>
  <div class="item">
    <button (click)="toggleExpanded(0)">
      <app-svg-image
        [path]="'../../../assets/arrow.svg'"
        [width]="'32px'"
        [height]="'32px'"
        [color]="'var(--gray-font)'"
      />
      Histórico
    </button>
    <div class="expandable" [class.expanded]="expandedItems[0]">
      <ul>
        <li>
          <p><b>Produto:</b> Duas carnes</p>
          <p><b>Quantidade:</b> 2</p>
          <p><b>Observação:</b> Sem maionese e picles e tomate e alface</p>
          <p><b>Subtotal:</b> R$ 65,80</p>
        </li>
        <li>
          <p><b>Produto:</b> Duas carnes</p>
          <p><b>Quantidade:</b> 2</p>
          <p><b>Observação:</b> Sem maionese e picles e tomate e alface</p>
          <p><b>Subtotal:</b> R$ 65,80</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="item">
    <button (click)="toggleExpanded(1)">
      <app-svg-image
        [path]="'../../../assets/arrow.svg'"
        [width]="'32px'"
        [height]="'32px'"
        [color]="'var(--gray-font)'"
      />
      Em andamento
    </button>
    <div class="expandable" [class.expanded]="expandedItems[1]">
      <ul>
        <li>
          <p><b>Produto:</b> Duas carnes</p>
          <p><b>Quantidade:</b> 2</p>
          <p><b>Observação:</b> Sem maionese e picles e tomate e alface</p>
          <p><b>Subtotal:</b> 65,80</p>
          <p><b>Status:</b>Sendo preparado</p>
        </li>
      </ul>
    </div>
  </div>

  <p class="total-cost">
    <span>Valor total:</span>
    <b>R$ 140,00</b>
  </p>
</aside>
