<div class="customers-page-container">
  <app-breadcrumb [currentURI]="'Cliente'" />

  <ul class="menu">
    <li *ngFor="let category of availableCategories">
      <button
        [class.active]="isMenuActive(category[0])"
        (click)="changeActiveMenu(category[0])"
      >
        {{ category[1] }}
      </button>
    </li>
  </ul>

  <ul class="products">
    <li *ngFor="let product of products" (click)="onSelectProduct(product)">
      <img
        src="{{ IMG_BASE_URL }}/{{ product.url }}"
        alt="{{ product.category }}"
      />
      <div>
        <strong>{{ product.name }}</strong>
        <p>{{ product.ingredients }}</p>
      </div>
      <p>{{ product.price | currency : "BRL" : "symbol-narrow" }}</p>
    </li>
  </ul>

  <div class="pagination">
    <app-pagination
      (activePageEvent)="changeCurrentPage($event)"
      [totalPages]="totalPages"
    />
  </div>
</div>

<aside>
  <div class="item">
    <button (click)="toggleExpanded(0)">
      <app-svg-image
        [path]="'../../../assets/arrow.svg'"
        [width]="'32px'"
        [height]="'32px'"
        [color]="'var(--gray-font)'"
      />
      Histórico
    </button>

    <div class="expandable" [class.expanded]="expandedItems[0]">
      <p class="empty-item-message" *ngIf="getHistoryOrderItems().length === 0">
        Nenhum item no histórico
      </p>
      <ul *ngIf="getHistoryOrderItems().length > 0">
        <li *ngFor="let orderItem of getHistoryOrderItems()">
          <p><b>Produto:</b> {{ orderItem.productName }}</p>
          <p><b>Quantidade:</b> {{ orderItem.amount }}</p>
          <p *ngIf="orderItem.observation">
            <b>Observação:</b> {{ orderItem.observation }}
          </p>
          <p>
            <b>Status:</b> {{ getOrderItemStatusDescription(orderItem.status) }}
          </p>
          <p>
            <b>Subtotal:</b>
            {{
              orderItem.amount * orderItem.itemValue
                | currency : "BRL" : "symbol-narrow"
            }}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <div class="item">
    <button (click)="toggleExpanded(1)">
      <app-svg-image
        [path]="'../../../assets/arrow.svg'"
        [width]="'32px'"
        [height]="'32px'"
        [color]="'var(--gray-font)'"
      />
      Em andamento
    </button>
    <div class="expandable" [class.expanded]="expandedItems[1]">
      <p
        class="empty-item-message"
        *ngIf="getInProgressOrderItems().length === 0"
      >
        Nenhum pedido realizado
      </p>
      <ul *ngIf="getInProgressOrderItems().length > 0">
        <li
          *ngFor="let orderItem of getInProgressOrderItems()"
          (click)="onSelectOrderItem(orderItem)"
        >
          <p><b>Produto:</b> {{ orderItem.productName }}</p>
          <p><b>Quantidade:</b> {{ orderItem.amount }}</p>
          <p *ngIf="orderItem.observation">
            <b>Observação:</b> {{ orderItem.observation }}
          </p>
          <p>
            <b>Subtotal:</b>
            {{
              orderItem.amount * orderItem.itemValue
                | currency : "BRL" : "symbol-narrow"
            }}
          </p>
          <p>
            <b>Status:</b> {{ getOrderItemStatusDescription(orderItem.status) }}
          </p>
        </li>
      </ul>
    </div>
  </div>

  <p class="total-cost">
    <span>Valor total:</span>
    <b>{{ getOccupationTotalCost() | currency : "BRL" : "symbol-narrow" }}</b>
  </p>
</aside>
