:host {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 40%;
}

h1 {
  margin: 20px 0;
  text-align: center;
}

p {
  margin-bottom: 30px;
  text-align: center;
}

div {
  width: 100%;
  display: flex;
  gap: 10px;
}

div a {
  flex: 1;
  padding: 12px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 500;
  font-size: 1.7rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

div a:hover {
  background-color: #294a88;
  transition: 0.2s ease;
}
